CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD="{{ vault_clickhouse_password }}"
CLICKHOUSE_DATABASE=yogile
YOGILE_BASE_URL=https://ru.yougile.com
YOGILE_API_TOKEN="{{ vault_yogile_api_token }}"
YOGILE_STICKER_SP_FRONTEND=0caa3b6f-170c-4ece-bff5-eab37c699542
YOGILE_STICKER_SP_BACKEND=9a0a8a72-26df-4aeb-80cf-e6271bdb160e
YOGILE_STICKER_PROJECT=06ea5708-ba40-429c-8a34-90048d73d9fe
YOGILE_SPRINT_START=2025-01-06
YOGILE_SPRINT_LENGTH_DAYS=14
YOGILE_CARDS_FROM=2025-01-06
YOGILE_PROJECTS="7eed460a-ccdb-4095-970d-318953e834d6"
